<!DOCTYPE html>
{% if 'username' in request.session %}
    {% include 'store/main.html' %}
{% else %}
    {% include 'store/main2.html' %}
{% endif %}

{% load static %}
{% block content %}

<html>
<body>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="h1 fw-bold">Search, Read, Buy, Review</h1>
                <p class="lead text-muted">Something short and leading about the collection of the books below---
                    Make it short and sweet, but not too short so folks don't simply skip over
                </p>
                <a href="registration" class="btn btn-primary my-2">Make an account</a>
            </div>
        </div>
    </section>

    <section class="container">
    <h5>All Products</h5>
    <div class="row">
		{% for products in products %}
		<div class="col-lg-4">
			<img class="thumbnail" alt="Responsive image" src="{{products.imageURL}}">
			<div class="box-element product">
				<h6 href="{{ products.get_absolute_url }}"><strong>{{products.title}}</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="{{product_detail}}">View</a>
				<h4 style="display: flexbox; float: right;"><strong>MYR {{products.price}}</strong></h4>
			</div>
		</div>
		{% endfor %}
    </div>
    </section>
</body>
</main>
</html>
{% endblock%}
